<div class="depot-form">
  <%= error_messages_for 'order' -%>
  <fieldset>
    <legend><%= I18n.t 'checkout.legend' %></legend>
    <% form_for :order, :url => { :action => :save_order } do |form| %>
      <p>
        <%= form.label :name, I18n.t('checkout.name') + ":" %>
        <%= form.text_field :name, :size => 40 %>
      </p>
      <p>
        <%= form.label :address, I18n.t('checkout.address') + ":" %>
        <%= form.text_area :address, :rows => 3, :cols => 40 %>
      </p>
      <p>
        <%= form.label :email, I18n.t('checkout.email') + ":" %>
        <%= form.text_field :email, :size => 40 %>
      </p>
      <p>
        <%= form.label :pay_type, I18n.t('checkout.pay_type') + ":" %>
        <%= form.select :pay_type,
          Order::PAYMENT_TYPES,
          :prompt => I18n.t('checkout.pay_prompt') %>
      </p>
      <%= submit_tag I18n.t('checkout.submit'), :class => "submit" %>
    <% end -%>
  </fieldset>
</div>