<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag :defaults %> 

</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png", :align =>"right", :alt => "Pragmatic Bookself") %>
    <b><%= @page_title || "Featured Items" %></b>
  </div>
  <div id="columns">      
    <menu id="side">
    <% if @cart %>
      <% hidden_div_if(@cart.items.empty?, :id => "cart") do %>
        <%= render(:partial => "cart", :object => @cart) %>
      <% end %>
      <% if session[:counter] >=5 %><li><small>You've been here <%= pluralize(session[:counter], "time")
%></small></li><% end %>
    <% end %>
      <li><a href="/store">Home</a></li>
      <% if session[:user_id] %> 
        <li><%= link_to 'Products', :controller => 'products' %></li>
        <li><%= link_to 'Users', :controller => 'users' %></li>
        <li><%= link_to 'Logout', :controller => :admin, :action => 'logout' %></li>
      <% end %>
      <li><span><%= Time.now.to_s(:short) %></span></li>
    </menu>
    <div id="main">
      <%if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>